project:
  type: website
  output-dir: docs

website:
  title: "R for Graphics and Tables"
  search: true
  back-to-top-navigation: true
  reader-mode: true
  
  navbar:
    background: info
    left:
      - text: "主页"
        href: index.qmd
      - text: "ggplot2 图形"
        href: ggplot2_graphics.qmd
      - text: "base 图形"
        href: base_graphics.qmd
      - text: "表格"
        href: Table.qmd

  sidebar:
    - title: "ggplot2 Graphics"
      style: "docked"
      background: "#ffd9e6"
      foreground: "#1919e6"
      border: true
      alignment: left
      collapse-level: 4
      contents: 
        - ggplot2_graphics.qmd
        - ggproto.qmd
        - ggplot2_extensions.qmd
        - patchwork.qmd
        # - 双y轴.qmd
        
        - section: "Point"
          contents: 
            - 点图.qmd
             - 曼哈顿图.qmd
            # - 气泡图.qmd


        - section: "Line"
          contents: 
            - 折线图.qmd
            - 生存曲线.qmd
            - ROC.qmd

        - section: "Bin"
          contents: 
            - 条形图.qmd
            - ggpattern.qmd
            - 双向条图.qmd
            - 发散条图.qmd
            # - 棒棒糖图.qmd
            
        - section: "Relationship"
          contents: 
            # - 凹凸图.qmd          # https://github.com/davidsjoberg/ggbump
            - 相关图.qmd
            - 热图.qmd
            # - 韦恩图.qmd           # https://github.com/gaospecial/ggVennDiagram/
            # - 网络图.qmd

    - title: "表格"
      contents: 
        - Table.qmd
        - tableone.qmd
        - gtsummary.qmd
        # - flextable.qmd
        # - gtExtras.qmd
        
    - title: "base Graphics"
      contents: 
        - base_graphics.qmd      
       
knitr: 
  opts_chunk: 
    comment: "#>"
    collapse: TRUE

execute:
  message: false
  warning: true

toc-depth: 4
number-sections: true
number-depth: 4
code-fold: true
code-link: true

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    fig-format: svg

editor: visual

